<header class="bar">
  <div class="wrapper">
    <span class="link-button">
      <a class="text-button" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe rss</a>
    </span>
    <span class="link-button">
      <a class="text-button" target="_blank" href="https://estrela.me">estrela.me</a>
    </span>
    <span class="link-button">
      <a class="text-button" target="_blank" href="https://github.com/rsaestrela">github</a>
    </span>
    <span class="link-button">
      <a class="text-button" target="_blank" href="https://www.linkedin.com/in/raulsilvaestrela/">linkedin</a>
    </span>
    <span class="link-button">
      <a class="text-button" target="_blank" href="https://dev.to/rsaestrela">dev.to</a>
    </span>
  </div>
</header>
