.link-button {
    background-color: #24292e;
    border: 2px solid white;
    border-radius: 2px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    box-shadow: 2px 2px 0 white;
    display: inline-block;
    .text-button {
      font-size: 1.1rem;
      color: white;
      text-decoration: none;
    } 
}

.header {
    min-height: 20px;
    padding-top: 10px;
    position: relative;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD  0%, #FFFB7D 100%);        
}

.profile-image {
    background: url("http://estrela.me/img/profile_image.png") no-repeat;
    background-size: 100% 100%;
    border: 2px solid white;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 6px;
    font-weight: bold;
    text-transform: uppercase;
}

.bar {
    background-color: $grey-color-dark;
    min-height: 40px;
    padding-top: 15px;
    position: relative;
}

.name {
    color: $grey-color-dark;
    font-size: 1.7rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}

.name:visited {
    color: white;
}

.name:hover {
    text-decoration: none;
}
  
.position {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  user-select: none;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 15px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 1.5rem;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    font-style: oblique;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit / 2;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    text-transform: uppercase;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    font-family: 'Open Sans', sans-serif;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.copyright {
    text-transform: uppercase;
}